/* variables that will come in handy, makes life a lot easier. 
Everything before media query covers site in mobile form. */

:root{
    --black: #000;
    --white: #fff;
    --orange: #ff4500;
    --darkblue: #2f4f4f;
    --lighterblue: (76, 117, 117);
    --background: #4ebebe;
}


/* * bits to apply to the whole site*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka',  sans-serif;
}

body{
    height: 150vh;
    background-color: var(--background);
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
    margin: 2em 2.5em;
    font-size: 22px;
}

li a{
    font-size: 20px;
    color: var(--white);
}

.nav a:hover{
    background-color: transparent;
    color: var(--orange);
    font-weight: bolder;
}

.header{
    background-color: var(--darkblue);
    opacity: 85%;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
/* css for logo */
.name{
    display: inline-block;
    color: var(--white);
    font-size: 30px;
    margin-left: 10px;
}

/* defines the colour of the span elements regardless of site width. In this case the M and K initials.*/

* .name span{
    color: var(--orange);
}

/* nav bar controls */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--darkblue);
    opacity: 85%;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* the text within the menu */
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}

/* text properties when user hovers cursor on them.*/
.menu a:hover{
    background-color: var(--gray);
}

/* below is styling for the burger.*/

.hamburger{
    cursor: pointer;
    float: right;
    padding-right:  40px;
}

/* Styling the span tag */

.hamburger-lines {
    background: var(--orange);
    display: block;
    height: 2px;
    position: absolute;
    width: 24px;
    top:20px;
} 

/* Styles before and after the tag instead of adding more spans. */

.hamburger-lines::before,
.hamburger-lines::after{
    background: var(--orange);
    content: '';
    display: block;
    height:  2px;
    position: absolute;
    transition: all .2s ease-out;
    width: 24px;
}

.hamburger-lines::before{
    top: 5px;
}

.hamburger-lines::after{
    top: -5px;
}

/* Hides ugly checkbox. */

.side-menu {
    display: none;
} 

/* Toggling the menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamburger .hamburger-lines {
    background: transparent;
}
.side-menu:checked ~ .hamburger .hamburger-lines::before {
    transform: rotate(-45deg);
    top: 2px;
}
.side-menu:checked ~ .hamburger .hamburger-lines::after {
    transform: rotate(45deg);
    top: 1px;
}

/* main contents */

.container{
    display: inline;
}

.maincontent{
    display: grid;
    grid-column: span 3;
    background-color: darkslategrey;
    color: white;
    opacity: 85%;
    padding: 10px;
    margin: 3px;
}

.maincontent h1{
    font-size: 32px;
    margin-bottom: 10px;
}

.maincontent p{
    padding: 20px 0px 0px 20px;
    font-size: 24px;
    margin-left: 5px;
}

.topic1-container{
    display: grid;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    position: relative;
}

.image{
    display: block;
    width: 100%;
    height: 100%;
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: var(--darkblue);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
}

.topic1-container:hover .overlay{
    opacity: 100%;
}

.textgoeshere{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.topic2-container{
    display: grid;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    position: relative;
}

.topic2-container:hover .overlay{
    opacity: 100%;
}

.topic3-container{
    display: grid;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    position: relative;
}

.topic3-container:hover .overlay{
    opacity: 100%;
}


.topic4-container{
    display: grid;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    position: relative;
}

.topic4-container:hover .overlay{
    opacity: 100%;
}

.topic5-container{
    display: grid;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    position: relative;
}

.topic5-container:hover .overlay{
    opacity: 100%;
}

.topic6-container{
    display: grid;
    padding: 10px;
    margin: 3px;
    background-color: darkslategrey;
    position: relative;
}

.topic6-container:hover .overlay{
    opacity: 100%;
}
footer{
    display: grid;
    grid-column: span 4;
    text-align: center;
    background-color: darkslategrey;
    color: white;
    opacity: 85%;
}

/* css for desktop -- might be worth optimising and splitting into own stylesheet*/

@media (min-width: 880px) {
    .nav{
        display: flex;
        margin: 4px;
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }

    ul li{
        display: inline;
        font-size: 20px;
        margin-right: 2.5em;
    }
    
    li a{
        color: var(--white);
    }

    .nav a:hover{
        background-color: transparent;
        color: var(--orange);
        font-weight: bolder;
    }

    .hamburger{
        display: none;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .60em;
        padding-top: .25em;
        font-size: 18px;
        height: 100%;
    }

    .maincontent{
        display: grid;
        grid-column: span 3;
        background-color: darkslategrey;
        color: white;
        opacity: 85%;
        padding: 10px;
        margin: 3px;
    }

    /* Contaniers ++ overlays for portfolio content. */

    .topic1-container{
        display: grid;
        padding: 10px;
        margin: 3px;
        background-color: darkslategrey;
        position: relative;
    }

    .image{
        display: block;
        width: 100%;
        height: 100%;
    }

    .overlay{
        height: 100%;
        width: 100%;
        background-color: var(--darkblue);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: .5s ease;
    }

    .topic1-container:hover .overlay{
        opacity: 100%;
    }

    .textgoeshere{
        color: white;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
    }

    .topic2-container{
        display: grid;
        padding: 10px;
        margin: 3px;
        background-color: darkslategrey;
        position: relative;
    }

    .topic2-container:hover .overlay{
        opacity: 100%;
    }

    .topic3-container{
        display: grid;
        padding: 10px;
        margin: 3px;
        background-color: darkslategrey;
        position: relative;
    }

    .topic3-container:hover .overlay{
        opacity: 100%;
    }


    .topic4-container{
        display: grid;
        padding: 10px;
        margin: 3px;
        background-color: darkslategrey;
        position: relative;
    }

    .topic4-container:hover .overlay{
        opacity: 100%;
    }

    .topic5-container{
        display: grid;
        padding: 10px;
        margin: 3px;
        background-color: darkslategrey;
        position: relative;
    }

    .topic5-container:hover .overlay{
        opacity: 100%;
    }

    .topic6-container{
        display: grid;
        padding: 10px;
        margin: 3px;
        background-color: darkslategrey;
        position: relative;
    }

    .topic6-container:hover .overlay{
        opacity: 100%;
    }

    footer{
        display: grid;
        grid-column: span 4;
        text-align: center;
        background-color: darkslategrey;
        color: white;
        opacity: 85%;
    }
}